.sidebar{
    width: 350px;
    height: 100vh;
    list-style-type: none;
    background-color: rgb(209, 68, 33);
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
}

body{
    height: 100%;
}
.name, .skills, .navButton{
    font-family: sans-serif;
    font-weight: 700;
}

.name{
    text-align: center;
    font-size: 70px;
    color: white;
    padding: 20px;
}

.ulSidebar{
    list-style-type: none;
}

.skills{
    color: white;
    font-size: 25px;
    padding: 20px;
}

.navButton{
    font-size: 25px;
    display: block;
    color: #ffffff;
    padding: 8px 8px;
    text-decoration: none;
}

.navButton:hover{
    background-color: #000;
    font-size: 35px;
}